<nav class="navbar navbar-light bg-success">
  <div class="container-fluid">
    <h2 style="color: beige;">Hastahane Sayfası</h2>
    <div class="d-flex">
      <button type="button" style="color: white;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">HASTAHANE EKLE</button>

    </div>

  </div>
</nav>
<table class="table nt-3">
  <thead>
    <tr>
      <th scope="col">Hastahane Adı &nbsp;&nbsp;</th>
      <th scope="col">Adres &nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of hospitaldata">
      <td>{{row.name}}</td>
      <td>{{row.adress}}</td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">HASTANE BİLGİLERİ</h5>


      </div>
      <div class="modal-body">
        <form [FormGroup]="formvalues">
          <div class="mb-3">
            <label for="exampleInputEmail1">Hastane Adı</label>
            <input type="text" class="form-control" formControlName="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="HASTAHANE İSİM">
          </div>
          <div class="mb-3 form-group">
            <label for="exampleInputPassword1">ADRES</label>
            <input type="text" class="form-control" formControlName="adress"  id="exampleInputPassword1" placeholder="Adres">
          </div>
        </form>
      </div>
      <div class="modal-footer">
       
        <button type="button" (click)="postHospitalDetay()" class="btn btn-warning">KAYDET</button>
     
      </div>
    </div>
  </div>
</div>
